.widget_dragWrap {
  min-height: 602px;
}

.widget_item {
  position: relative;
}

.group_delete {
  position: absolute;
  top: 0;
  left: -160px;
}

.widget_item--delete {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget_item--active,
.widget_item.widget_item--active:hover {
  outline: 2px solid #155bd4;
  z-index: 10;
}

.widget_item:hover {
  outline: 1px dashed #155bd4;
  cursor: pointer;
}

.render_wrap {
  overflow-y: auto;
  padding: 20px 0 80px;
}

.render_header {
  position: absolute;
  top: 28px;
  width: 375px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
