.widget_dragWrap {
  height: 100%;
}

.widget_item {
  position: relative;
}

.group_delete {
  position: absolute;
  top: 0;
  right: -160px;
}

.widget_item--delete {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget_item--active,
.widget_item.widget_item--active:hover {
  outline: 2px solid #155bd4;
  z-index: 10;
}

.widget_item:hover {
  outline: 1px dashed #155bd4;
  cursor: pointer;
}

.render_wrap {
  position: relative;
  margin-right: 275px;
}

.render_header {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: -4px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
